* {
    border:        none;
    border-radius: 0;
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(235, 219, 178, 1);
    background: rgba(40, 40, 40, 1);
}

window#waybar.solo {
    color:      rgba(235, 219, 178, 1);
    background: rgba(40, 40, 40, 1);
}

#workspaces {
    margin: 0 0;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(235, 219, 178, 1);
}

#workspaces button.visible {
    color:      rgba(235, 219, 178, 1);
}

#workspaces button.focused {
    background: rgba(69, 133, 136, 1);
}

#workspaces button.urgent {
    color:      rgba(204, 36, 29, 1);
}

#mode, #battery, #network, #pulseaudio, #backlight, #custom-storage, #custom-spotify, #custom-weather {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:       rgba(215, 153, 33, 1);
}

#battery.critical {
    color:      rgba(204, 36, 29, 1);
}

#battery.charging {
    color:      rgba(69, 133, 136, 1);
}

#custom-storage.warning {
   color:       rgba(215, 153, 33, 1);
}

#custom-storage.critical {
    color:      rgba(204, 36, 29, 1);
}
