#include ".colors/gruvbox"

URxvt.font: 		         xft:monospace:size=12:antialias=True
URxvt.scrollBar:	       false
URxvt.cursorBlink:       true

URxvt.keysym.Shift-Up:   command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

URxvt.perl-ext-common:   resize-font

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
